@import "../../variables.scss";

.wrapper {
  bottom: 0;

  position: absolute;
  background-color: $background-darker-color;
  color: $font-lighter-color;
  margin: 0 2px;
  padding: 10px 20px;
  width: calc(100% - 4px);
  box-sizing: border-box;

  .pullTab {
    position: absolute;
    left: 0;
    top: -38px;
    button {
      padding: 10px 20px;
      background-color: $background-darker-color;
      border: none;
      outline: none;
      color: $font-lighter-color;
      font-size: 14px;
      display: flex;
      width: 120px;
      justify-content: space-between;
      align-items: center;
      &:focus {
        box-shadow: 0 0 0 2px rgba(79, 192, 232, 0.5);
      }
    }
  }

}
