@import '../variables.scss';

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
li {
  list-style: none;
}

.GraphContainer {
  flex: 2;
  display: flex;
  position: relative;
  min-width: 500px;
}
