.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
li {
  list-style: none;
}

.GraphContainer {
  flex: 2;
  display: flex;
  position: relative;
  min-width: 500px;
}
.LegendContainer {
  min-width: 250px;
  max-width: 250px;
  overflow-y: auto;
}
.panel {
  min-width: 400px;
  background: #ece9e9;
  flex: 1;

  .titleSection > p {
    padding-left: 20px;
  }

  h2 {
    font-size: 19px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 20px;
  }

  .innerContent {
    border-left: 5px solid #ccc;
    margin-top: 10px;

    p {
      padding-left: 10px;
    }
  }

  .mapList:not(:last-child) {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
  }

  .listContent {
    background: #ece9e9;
  }
}
