.panel {
  min-width: 400px;
  background: #ece9e9;
  flex: 1;

  :global(.medieval) & {
    background-image: url('../assets/marble.png');
    background-size: cover;
    color: #fff;
  }

  .titleSection > p {
    padding-left: 20px;
  }

  h2 {
    font-size: 19px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 20px;
  }

  .innerContent {
    border-left: 5px solid #ccc;
    margin-top: 10px;

    p {
      padding-left: 10px;
    }
  }

  .mapList:not(:last-child) {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
  }

  .listContent {
    background: #ece9e9;
  }
}
