header {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  background: whitesmoke;
  font-weight: bold;
  cursor: pointer;

  button {
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 0;
    background: whitesmoke;
    font-weight: bold;
  }
}