{
  "graphUrl": "graph",
  "statusUrl": "instances",
  "apiBaseUrl": "https://frag.int.synthesio.net",
  "authToken": "test",
  "settings": {
    "backgroundColor": "#131212",
    "nodeColor": "lightskyblue",
    "nodeStrokeColor": "#fff",
    "vectorColor": "#ddd",
    "lineWidth": 160,
    "fontSize": 120,
    "radius": 600,
    "minimumScale": 0.003,
    "maximumScale": "Infinity"
  },
  "meta": {
    "subtitle": "Details",
    "processName": "processes"
  },
  "search": {
    "maxResults": 10
  },
  "zoom": {
    "scale": 0.12,
    "duration": 750
  },
  "node": {
    "config": {
      "bend": 0.1,
      "arrowLength": 300,
      "arrowWidth": 300,
      "startArrow": false,
      "endArrow": true,
      "startRadius": "600",
      "endRadius": "600",
      "vectorColor": "#ddd"
    },
    "label": {
      "backgroundColor": "rgba(255, 255, 255, 0)",
      "shadowColor": "rgba(0,0,0,0.8)",
      "shadowBlur": 4,
      "fillStyle": "#fff",
      "textAlign": "center",
      "fontType": "bold",
      "fontName": "Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif"
    },
    "status": {
      "ok": "#2dd42d",
      "warning": "orange",
      "ko": "red"
    }
  },
  "types": {
    "default": {
      "name": "default",
      "shape": "circle",
      "color": "white"
    },
    "service": {
      "name": "service",
      "shape": "circle",
      "color": "silver"
    },
    "http": {
      "name": "http",
      "shape": "square",
      "color": "orange"
    },
    "consul": {
      "name": "consul",
      "shape": "rectangle",
      "color": "blue"
    },
    "mysql": {
      "name": "mysql",
      "shape": "diamond",
      "color": "lightskyblue"
    },
    "kafka": {
      "name": "kafka",
      "shape": "triangle",
      "color": "yellow"
    },
    "blink": {
      "name": "blink",
      "shape": "ovale",
      "color": "green"
    },
    "scylladb": {
      "name": "scylladb",
      "shape": "circle",
      "color": "purple"
    },
    "redis": {
      "name": "redis",
      "shape": "circle",
      "color": "brown"
    },
    "elasticsearch": {
      "name": "elasticsearch",
      "shape": "circle",
      "color": "teal"
    }
  }
}
