@import '../../variables.scss';

.panelControls {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  button svg {
    padding-right: 4px;
  }
}
.detailsBlockTitle {
  cursor: pointer;
}
.closed {
  display: none;
}
.textBlock {
  color: $font-lighter-color;
  padding: 0 20px;
}
.tagName {
  text-transform: capitalize;
}
