.header {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
}

.closed {
  display: none;
}
