canvas {
  width: 100%;
}

.search, .status {
  position: absolute;
}

.search {
  z-index: 3;

  form {
    input {
      margin: 20px 5px 0 20px;
      width: 171px;
      height: 25px;
      padding-left: 10px;
    }
  }

  ul {
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-left: 20px;
    width: 186px;
    li {
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
  }

  button[type=submit] {
    width: 100px;
    height: 32px;
  }
}

.status {
  z-index: 1;
  background-color: #d8d8d8;
  width: 186px;
  max-width: 200px;
  margin-top: 100px;
  margin-left: 20px;

  ul {
    padding-left: 10px;

    li {
      display: flex;

      span {
        display: block;
        width: 60px;
        height: 5px;
        margin-top: 8px;
        margin-right: 15px;
      }
    }
  }
}