@import '../variables.scss';

.button {
  font-size: $font-size-base;
  color: $font-darker-color;
  background-color: $background-darker-color;
  padding: 7px 10px;
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  cursor:pointer;
  border-radius: 2px;
  text-decoration: none;

  &:active {
    box-shadow: 0 0 0 2px rgba(62, 149, 181, 0.8);
    background-color: #354d56;
  }
  &:hover, &:focus {
    box-shadow: 0 0 0 2px rgba(79, 192, 232, 0.5);
  }
  &:disabled {
    background-color: rgba(51, 51, 51, 0.5);
  }
}
