.status {
  position: absolute;
  z-index: 1;
  background-color: #d8d8d8;
  width: 186px;
  max-width: 200px;
  margin-top: 100px;
  margin-left: 20px;

  ul {
    padding-left: 10px;

    li {
      display: flex;
      margin:10px 0;

      span {
        display: block;
        width: 60px;
        height: 10px;
        border: 4px solid transparent;
        margin-right: 5px;
      }
    }
  }
}
