.header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 30px;
    padding-left: 20px;
  }

  button {
    border: none;
    background: none;
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

.textBlock {
  padding-left: 20px;
}
