.header {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}
.nodeLink {
  color: blue;
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
}
.closed {
  display: none;
}
.rawDetailsBlock {
  background-color: #444;
  color: #ccc;
  width: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.emptyListMessage {
  font-style: italic;
  color: #444;
}
