@import '../../variables.scss';

.LegendBlock {
  background-color: $background-darker-color;
  margin: 10px 0;
  padding: 0 20px;
  color: $font-lighter-color;

  ul {
    padding: 0;
  }
  input {
    max-width: calc(100% - 20px);
  }
}

.title {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.contentPanel {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: auto;
}
.open {
  max-height: 400px;
}
