.tabs {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background: whitesmoke;
}

.tabList {
  padding-left: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  list-style: none;
  margin-top: 10px;

  li:last-child .tabListItem {
    border-right: 1px solid #ccc;
  }
}

.tabListItem {
  border-right: 0;
  list-style: none;
  margin-bottom: -1px;
  padding: 5px 10px;
  background: white;

  &.tabListActive {
    background-color: #848484;
    border: 1px solid #848484;
    color: white;
  }
}
