@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-family-base: "Open Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 20px;

$font-lighter-color: #ececec;
$font-default-color: #aaaaaa;
$font-darker-color: #888888;
$font-super-dark-color: #333333;

$background-lighter-color: #777777;
$background-default-color: #444444;
$background-darker-color: #333333;
